<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--
      How to Set these appSettings: 
        https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal
    -->
    <add key="TenantId" value="2b3697e6-a7a2-4cdd-a3d4-xxx" />
    <add key="SubscriptionId" value="8197917b-cd66-42cf-a167-xxx" />
    <add key="ClientId" value="e6eb439d-5371-451c-818b-xxx" />
    <add key="ClientSecret" value="xxxx" />
    <add key="FrontdoorUrl" value="https://adminmanagement.local.azurestack.external/" />
    <add key="AadAuthority" value="https://login.windows.net/" />
    <add key="AadAudience" value="https://graph.windows.net/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>