<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--
      How to Set these appSettings: 
        https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal
    -->
    <add key="TenantId" value="5454420b-2e38-4b9e-8b56-xxxxxxxxxx" />
    <add key="SubscriptionId" value="a75e6e5f-14bb-44c6-8350-xxxxxxxx" />
    <add key="ClientId" value="793a04f6-24b6-4e71-xxxxxxxxxxxx-d39d6dc38f62" />
    <add key="ClientSecret" value="LSnuvOODo43P5Ncbxxxxxxxxxxxxxxxx647xbZZexf7/A3C0=" />
    <add key="FrontdoorUrl" value="https://adminmanagement.local.azurestack.external/" />
    <add key="AadAuthority" value="https://login.windows.net/{0}" />
    <add key="AadAudience" value="https://graph.windows.net/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>